.search-bar {
    background-color: var(--light-background);
    height: 80px;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}