.header {
    background-image: url("/assets/desktop/bg-pattern-header.svg");
    height:162px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1 {
        font-size: var(--font-h1);
        color: var(--text-white);
    }
}